body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

/* ---------------Header---------------*/

header{
    width:100%;
    height:100px;
    background-color: #00c6fb;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

nav{
    padding-right:50px;
}

nav ul li{
    text-decoration:none;
    color:#fff;
    list-style:none;
    display:inline-block;
    padding:0 10px;
}

nav a{
    text-decoration:none;
    color:#fff;
}

nav a:hover{
    color:#000;
}

main{
    padding:20px;
    height:400px;
}

footer{
    width:100%;
    height:250px;
    background-color: #00c6fb;
}